In [35]:
import os
import pandas as pd
from PIL import Image
import numpy as np

In [27]:
trainimagelist=[]
traincategorylist=[]
a=0
name=["angry","disgust","fear","happy","neutral","sad","surprise"]
for i in os.listdir(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\archive\train"):
    count=0
    path=os.path.join(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\archive\train",i)
    for j in os.listdir(path):
        if count==400:
            break
        imagepath=os.path.join(path,j)
        trainimagelist.append(imagepath)
        traincategorylist.append(name[a])
        count+=1
    a+=1

In [28]:
len(traincategorylist)

2800

In [29]:
valimagelist=[]
valcategorylist=[]
a=0
name=["angry","disgust","fear","happy","neutral","sad","surprise"]
for i in os.listdir(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\archive\test"):
    count=0
    path=os.path.join(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\archive\test",i)
    for j in os.listdir(path):
        if count==100:
            break
        imagepath=os.path.join(path,j)
        valimagelist.append(imagepath)
        valcategorylist.append(name[a])
        count+=1
    a+=1

In [30]:
len(valcategorylist)

700

In [31]:
testimagelist=[]
testcategorylist=[]
a=0
name=["angry","disgust","fear","happy","neutral","sad","surprise"]
for i in os.listdir(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\archive\test"):
    count=0
    path=os.path.join(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\archive\test",i)
    for j in os.listdir(path):
        if count>100 and count<200:
            imagepath=os.path.join(path,j)
            testimagelist.append(imagepath)
            testcategorylist.append(name[a])
        count+=1
    a+=1

In [32]:
len(testcategorylist)

604

In [37]:
trainimg=[]
for i in trainimagelist:
    imge=Image.open(i)
    imge=imge.resize((224,224))
    imgearray=np.array(imge)
    imgearray=imgearray/225.0
    trainimg.append(imgearray)

In [38]:
valimg=[]
for i in valimagelist:
    imge=Image.open(i)
    imge=imge.resize((224,224))
    imgearray=np.array(imge)
    imgearray=imgearray/225.0
    valimg.append(imgearray)

In [39]:
testimg=[]
for i in testimagelist:
    imge=Image.open(i)
    imge=imge.resize((224,224))
    imgearray=np.array(imge)
    imgearray=imgearray/225.0
    testimg.append(imgearray)

In [51]:
traindf=pd.DataFrame({"X":trainimg})
valdf=pd.DataFrame({"X":valimg})
testdf=pd.DataFrame({"X":testimg})

In [52]:
cl=pd.Series(traincategorylist)
tay=pd.get_dummies(cl,dtype=float)

cl=pd.Series(valcategorylist)
vay=pd.get_dummies(cl,dtype=float)

cl=pd.Series(testcategorylist)
tey=pd.get_dummies(cl,dtype=float)

In [ ]:
traindf=pd.concat([traindf,tay],axis=1)
valdf=pd.concat([valdf,vay],axis=1)
testdf=pd.concat([testdf,tey],axis=1)

,X,angry,disgust,fear,happy,neutral,sad,surprise
0,"[[0.22666666666666666, 0.2222222222222222, 0.2...",1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"[[0.13777777777777778, 0.13333333333333333, 0....",1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"[[0.7155555555555555, 0.7111111111111111, 0.70...",1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"[[0.9422222222222222, 0.9422222222222222, 0.94...",1.0,0.0,0.0,0.0,0.0,0.0,0.0